    /* หน้าหลักเว็บ ปุ่มเเละชื่อเว็บ */

    .GotoTop {
        text-size: 100%;
            text-align: center;
            color: rgb(0, 0, 0);
            background-color: rgb(190, 190, 190);
            width: 300px;
            height:  40%;
            margin: 0% auto;
            border-radius: 10px;
            border: 3px solid black;
    }


    .Shopking {
        text-size: 100%;
            text-align: center;
            color: rgb(0, 0, 0);
            background-color: rgb(190, 190, 190);
            width: 300px;
            height: 20%;
            margin: 0% auto;
            border-radius: 10px;
            border: 3px solid black;
        }


        .TextKing {
            textsize : 100px;
            text-align: center;
            color: rgb(0, 0, 0);
            background-color: rgb(190, 190, 190);
            width: 300px;
            height: 20%;
            margin: 0% auto;
            border-radius: 10px;
            border: 3px solid black;
        }

        body {
            background-color:rgb(119, 117, 114);
        }

        /* รูปภาพ สไลด์หน้าหลักเว็บ */
        .Kingimg {
            width: 200px;
            padding: 10px;
            border: 2px solid #ccc;
            border-radius: 10px;
            margin: 10px;
            display: inline-block;
            text-align: center;
        }

        .Kingimg img {
            width: 100%;
            border-radius: 8px;
        }
